CONFIG_ARM=y
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_REALTEK=y
CONFIG_BOARD_FIT_CONFIG_NAME="rtd1501s-phantom"
CONFIG_TEXT_BASE=0x03F60000
CONFIG_SYS_MALLOC_LEN=0x08000000
CONFIG_SYS_MALLOC_F_LEN=0x08000000
# CONFIG_SYS_MALLOC_CLEAR_ON_INIT is not set
CONFIG_LOCALVERSION="-kent"
CONFIG_NR_DRAM_BANKS=6
CONFIG_ENV_IS_NOWHERE=y
CONFIG_SYS_REDUNDAND_ENVIRONMENT=y
CONFIG_SYS_RELOC_GD_ENV_ADDR=y
CONFIG_SPL_DM_SPI=y
CONFIG_USE_DEFAULT_ENV_FILE=y
CONFIG_DEFAULT_ENV_FILE="board/realtek/rtd1625_snand.env"
CONFIG_DEFAULT_DEVICE_TREE="rtd1501s-phantom"
CONFIG_SYS_BOOTM_LEN=0x02000000
CONFIG_SPL_TEXT_BASE=0x03F00000
CONFIG_SPL_MAX_FOOTPRINT=0x00060000
CONFIG_SPL_MAX_SIZE=0x2AFE0
CONFIG_SPL_PAD_TO=0x2AFE0
CONFIG_SPL_BSS_MAX_SIZE=0x4000
CONFIG_SPL_SYS_MALLOC=y
CONFIG_SPL_HAS_CUSTOM_MALLOC_START=y
CONFIG_SPL_CUSTOM_SYS_MALLOC_ADDR=0x14000000
CONFIG_SPL_SYS_MALLOC_SIZE=0x08000000
# CONFIG_SPL_SEPARATE_BSS is not set
CONFIG_TARGET_RTD1625=y
#CONFIG_REQUIRE_SERIAL_CONSOLE
CONFIG_DM_SERIAL=y
CONFIG_SPL_NS16550_MIN_FUNCTIONS=y
CONFIG_SPL_SERIAL=y
CONFIG_SPL=y
CONFIG_SPL_FS_FAT=y
CONFIG_SPL_FS_LOAD_PAYLOAD_NAME="u-boot.bin-rtd1625_spi"
CONFIG_SPL_SPI=y
# CONFIG_PSCI_RESET is not set
CONFIG_BUILD_TARGET="u-boot.itb"
CONFIG_SYS_CUSTOM_LDSCRIPT=y
CONFIG_SYS_LDSCRIPT="arch/arm/mach-realtek/u-boot.lds"
CONFIG_SYS_LOAD_ADDR=0x20000000
# CONFIG_ANDROID_BOOT_IMAGE is not set
CONFIG_HAS_CUSTOM_SYS_INIT_SP_ADDR=y
CONFIG_CUSTOM_SYS_INIT_SP_ADDR=0x14000000
CONFIG_FIT_VERBOSE=y
CONFIG_FIT_CIPHER=y
CONFIG_FIT_SIGNATURE=y
CONFIG_SPL_LOAD_FIT=y
CONFIG_SPL_LOAD_FIT_APPLY_OVERLAY=y
CONFIG_SPL_FIT_CIPHER=y
CONFIG_SPL_FIT_SIGNATURE=y
CONFIG_SPL_FIT_SOURCE="board/realtek/rtd1625_emmc.its"
# CONFIG_USE_SPL_FIT_GENERATOR is not set
# CONFIG_BOOTMETH_EXTLINUX is not set
# CONFIG_BOOTMETH_VBE is not set
CONFIG_OF_BOARD=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_OF_STDOUT_VIA_ALIAS=y
# CONFIG_BOOTSTD is not set
CONFIG_BOOTDELAY=0
CONFIG_USE_BOOTCOMMAND=y
CONFIG_SYS_CONSOLE_IS_IN_ENV=y
CONFIG_MISC_INIT_R=y
CONFIG_SPL_BOARD_INIT=y
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
# 128KB block: 28-th block
CONFIG_SYS_SPI_U_BOOT_OFFS=0x380000
# 256KB block: 20-th block
#CONFIG_SYS_SPI_U_BOOT_OFFS=0x500000
CONFIG_SYS_USB_FAT_BOOT_PARTITION=1
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="Realtek> "
CONFIG_SYS_CBSIZE=640
CONFIG_SYS_PBSIZE=665
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
CONFIG_CMD_IMPORTENV=y
# CONFIG_CMD_CRC32 is not set
CONFIG_CMD_GPT=y
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_MBR=y
CONFIG_CMD_MTD=y
CONFIG_CMD_PART=y
CONFIG_CMD_READ=y
CONFIG_CMD_USB=y
CONFIG_CMD_USB_MASS_STORAGE=y
# CONFIG_CMD_RTK_PMIC is not set
CONFIG_CMD_ECHO=y
CONFIG_CMD_TFTPPUT=y
# CONFIG_CMD_NFS is not set
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_GETTIME=y
CONFIG_CMD_EXT2=y
CONFIG_CMD_FAT=y
CONFIG_CMD_FS_GENERIC=y
CONFIG_CMD_HASH=y
CONFIG_CMD_MTDPARTS=y
# spi-nor
#CONFIG_MTDIDS_DEFAULT="nor0=RtkSFC"
#CONFIG_MTDPARTS_DEFAULT="mtdparts=RtkSFC:1M(bootcode)ro,768K@0x100000(u-boot)"
# spi-nand
CONFIG_MTDIDS_DEFAULT="spi-nand0=rtknand"
# 128KB block
CONFIG_MTDPARTS_DEFAULT="mtdparts=rtknand:2M(boot)ro,1M(trustfw),512K(spl),1536K(u-boot),128K(env),128K(env_r),24M(ubi),92M(rootfs),-(bb)ro"
# 256KB block
#CONFIG_MTDPARTS_DEFAULT="mtdparts=rtknand:3584K(boot)ro,1M(trustfw),512K(spl),1536K(u-boot),256K(env),256K(env_r)"
CONFIG_OF_CONTROL=y
CONFIG_OF_OVERLAY_LIST="cipher rtd1501-tee"
CONFIG_SPL_OF_CONTROL=y
CONFIG_SPL_MULTI_DTB_FIT=y
CONFIG_OF_LIVE=y
CONFIG_ENV_OVERWRITE=y
CONFIG_TFTP_BLOCKSIZE=400
CONFIG_DM=y
CONFIG_SPL_DM=y
CONFIG_REGMAP=y
CONFIG_SPL_REGMAP=y
CONFIG_SYSCON=y
CONFIG_SPL_OF_TRANSLATE=y
# CONFIG_BLK is not set
CONFIG_MISC=y
CONFIG_MTD=y

CONFIG_PHY_RTK_RTD_USB2PHY=y
CONFIG_PHY_RTK_RTD_USB3PHY=y
CONFIG_BAUDRATE=460800
CONFIG_SYS_NS16550=y
#CONFIG_SYS_NS16550_SERIAL=y
CONFIG_SYS_NS16550_REG_SIZE=-4
CONFIG_SPI=y
CONFIG_USB=y
CONFIG_DM_SPI=y
CONFIG_DM_USB_GADGET=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_GENERIC=y
CONFIG_USB_STORAGE=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="Realtek U-Boot"
CONFIG_USB_GADGET_VENDOR_NUM=0x18d1
CONFIG_USB_GADGET_PRODUCT_NUM=0x4e40
CONFIG_USB_FUNCTION_MASS_STORAGE=y
CONFIG_USB_MAX_CONTROLLER_COUNT=4
CONFIG_FAT_WRITE=y
# CONFIG_SPL_SHA1 is not set
# CONFIG_ARMV8_CE_SHA256 is not set
CONFIG_LZO=y
CONFIG_OPTEE_LIB=y
# CONFIG_EFI_LOADER is not set
CONFIG_CLK=y
CONFIG_DM_GPIO=y
CONFIG_CMD_GPIO=y
CONFIG_REALTEK_GPIO=y

# CONFIG_SPL_DOS_PARTITION is not set
# CONFIG_SPL_EFI_PARTITION is not set

# For U-Boot script support
#CONFIG_LEGACY_IMAGE_FORMAT=y
#CONFIG_SYS_USB_FAT_BOOT_PARTITION=12

# I2C/PCI-E/NVME
#CONFIG_DM_I2C=y
#CONFIG_SYS_I2C_RTK=y
#CONFIG_CMD_I2C=y
#CONFIG_PCI=y
#CONFIG_PCIE_RTD=y
#CONFIG_CMD_PCI=y
#CONFIG_NVME=y
#CONFIG_NVME_PCI=y
#CONFIG_PHY_RTD_PCIE=y

# SPI-NOR
CONFIG_SPI_RTK_SFC=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_DM_SPI_FLASH=y
# CONFIG_SPL_SPI_FLASH_TINY is not set
CONFIG_SPL_SPI_LOAD=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_MTD=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
#CONFIG_ENV_IS_IN_SPI_FLASH=y
#CONFIG_ENV_OFFSET=0
#CONFIG_ENV_OFFSET_REDUND=0x10000
#CONFIG_ENV_SECT_SIZE_AUTO=y
#CONFIG_ENV_SECT_SIZE=0x1000
#CONFIG_ENV_SIZE=0x10000

# SPI-NAND
# CONFIG_MMC is not set
CONFIG_SPI_RTK_NAND=y
CONFIG_SPL_SPI_RTK_NAND=y
CONFIG_SPL_MTD_SUPPORT=y
CONFIG_SPL_SPI_FLASH_SUPPORT=y
CONFIG_SPL_SPI_NAND_LOAD=y
CONFIG_DM_MTD=y
CONFIG_MTD_SPI_NAND=y
# Required for SPL_UBI
CONFIG_SPL_LOAD_FIT_FULL=y
CONFIG_SPL_UBI=y
# 24MB UBI on 128KB block
CONFIG_SPL_UBI_MAX_VOL_LEBS=192
CONFIG_SPL_UBI_MAX_PEB_SIZE=131072
CONFIG_SPL_UBI_MAX_PEBS=1024
CONFIG_SPL_UBI_PEB_OFFSET=42
CONFIG_SPL_UBI_VID_OFFSET=2048
CONFIG_SPL_UBI_LEB_START=4096
CONFIG_SPL_UBI_INFO_ADDR=0x07880000
CONFIG_SPL_UBI_VOL_IDS=4
CONFIG_SPL_UBI_LOAD_MONITOR_ID=0
CONFIG_SPL_UBI_LOAD_BY_VOLNAME=y
CONFIG_SPL_UBI_LOAD_MONITOR_VOLNAME="uboot"
CONFIG_ENV_IS_IN_MTD=y
CONFIG_ENV_MTD_DEV="spi-nand0"
# 128KB block
CONFIG_ENV_SIZE=0x20000
CONFIG_ENV_OFFSET=0x500000
CONFIG_ENV_OFFSET_REDUND=0x520000
# 256KB block
#CONFIG_ENV_SIZE=0x40000
#CONFIG_ENV_OFFSET=0x680000
#CONFIG_ENV_OFFSET_REDUND=0x6C0000
CONFIG_CMD_UBI=y
# CONFIG_CMD_UBIFS is not set
#CONFIG_CMD_MTD_MARKBAD=y
#CONFIG_CMD_MTD_OTP=y
CONFIG_CMD_MTD_NAND_READ_TEST=y
#CONFIG_CMD_MTD_NAND_WRITE_TEST=y

# Enable LOG for debug
#CONFIG_LOGLEVEL=9
#CONFIG_LOG=y
#CONFIG_LOG_MAX_LEVEL=9
#CONFIG_SPL_LOG=y
#CONFIG_SPL_LOG_MAX_LEVEL=9
