# CONFIG_KVM is not set
# CONFIG_MALI is not set
# CONFIG_DMABUF_HEAPS_REALTEK is not set
# CONFIG_RTK_BOOTLOGO is not set

# for fastbootd in init.recovery.hardware.rc
# CONFIG_USB_GADGETFS is not set
# CONFIG_USB_FUNCTIONFS is not set
# CONFIG_USB_CONFIGFS_NCM is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CDC_COMPOSITE is not set

# for weston
CONFIG_VT=y
CONFIG_LEGACY_PTYS=y

# for UART BT
CONFIG_RTK_LSADC0=y
CONFIG_IIO_TRIGGERED_BUFFER=y
# CONFIG_RT_GROUP_SCHED is not set

# for ALSA sound card0 dummy
CONFIG_SND_DRIVERS=y
CONFIG_SND_DUMMY=y

# for SOF
CONFIG_SND_SOC_RTK_PLATFORM=n
CONFIG_SND_SOC_RTK_HIFI_RT5650_MACHINE=m
CONFIG_RTK_AVCPU_LOG=y

# for Android VTS/CTS
CONFIG_ANON_VMA_NAME=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_NFS_FS=n
CONFIG_NFS_V2=n
CONFIG_NFS_V3=n
CONFIG_NFS_V4=n
CONFIG_SYSVIPC=n
CONFIG_DEVMEM=n
CONFIG_DEVPORT=n
CONFIG_INCREMENTAL_FS=y
CONFIG_MEMCG=y
CONFIG_MEMCG_KMEM=y
CONFIG_INET6_ESP=y
CONFIG_INET6_IPCOMP=y
CONFIG_HID_SONY=y
CONFIG_SONY_FF=y
CONFIG_VETH=y
CONFIG_TUN=y
CONFIG_IFB=y
CONFIG_NET_CLS_U32=y
CONFIG_NET_SCH_HTB=y
CONFIG_NET_SCH_INGRESS=y
CONFIG_NET_SCH_TBF=y
CONFIG_CRYPTO_CMAC=y
CONFIG_IP_NF_ARPFILTER=y
CONFIG_IP_NF_ARPTABLES=y
CONFIG_IP_NF_ARP_MANGLE=y
CONFIG_IP_NF_MATCH_ECN=y
CONFIG_IP_NF_MATCH_TTL=y
CONFIG_IP_NF_TARGET_MASQUERADE=y
CONFIG_IP_NF_TARGET_NETMAP=y
CONFIG_IP_NF_TARGET_REDIRECT=y
CONFIG_NF_CONNTRACK_AMANDA=y
CONFIG_NF_CONNTRACK_FTP=y
CONFIG_NF_CONNTRACK_H323=y
CONFIG_NF_CONNTRACK_IRC=y
CONFIG_NF_CONNTRACK_NETBIOS_NS=y
CONFIG_NF_CONNTRACK_SANE=y
CONFIG_NF_CONNTRACK_TFTP=y

# Android 14 (FCM 202404) kernel requirements
CONFIG_DEFAULT_SECURITY_SELINUX=y
CONFIG_DUMMY=y
CONFIG_MODVERSIONS=y
CONFIG_FHANDLE=n
CONFIG_FW_CACHE=n
CONFIG_MODULE_FORCE_UNLOAD=n
CONFIG_IP6_NF_NAT=n
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_XCBC=y
CONFIG_NF_CT_PROTO_DCCP=y
CONFIG_NF_CT_PROTO_SCTP=y
CONFIG_NF_CT_PROTO_UDPLITE=y
CONFIG_IPV6_MIP6=y
CONFIG_IPV6_OPTIMISTIC_DAD=y
CONFIG_IPV6_VTI=y
CONFIG_NET_EMATCH=y
CONFIG_NET_EMATCH_U32=y
CONFIG_NET_ACT_BPF=y
CONFIG_NET_ACT_MIRRED=y
CONFIG_NET_CLS_BPF=y
CONFIG_NET_CLS_MATCHALL=y
CONFIG_NETFILTER_XT_MATCH_OWNER=y
CONFIG_NET_IPGRE_DEMUX=y
CONFIG_NET_IPVTI=y
CONFIG_XFRM_INTERFACE=y
CONFIG_XFRM_MIGRATE=y
CONFIG_XFRM_STATISTICS=y
CONFIG_DM_SNAPSHOT=y
CONFIG_HID_PLAYSTATION=y
CONFIG_PLAYSTATION_FF=y
CONFIG_JOYSTICK_XPAD=y
CONFIG_USB_CONFIGFS_F_MIDI=y
CONFIG_BUG_ON_DATA_CORRUPTION=y
CONFIG_CPU_FREQ_TIMES=y
CONFIG_LEDS_CLASS_MULTICOLOR=y
CONFIG_USB_NET_CDC_EEM=m
CONFIG_USER_NS=n
CONFIG_STATIC_USERMODEHELPER=y
CONFIG_STATIC_USERMODEHELPER_PATH=""
