# CONFIG_KVM is not set
# CONFIG_MALI is not set
# CONFIG_DMABUF_HEAPS_REALTEK is not set
# CONFIG_RTK_BOOTLOGO is not set

# for fastbootd in init.recovery.hardware.rc
# CONFIG_USB_GADGETFS is not set
# CONFIG_USB_FUNCTIONFS is not set
# CONFIG_USB_CONFIGFS_NCM is not set
# CONFIG_USB_CONFIGFS_ECM is not set
# CONFIG_USB_CONFIGFS_ECM_SUBSET is not set
# CONFIG_USB_CONFIGFS_MASS_STORAGE is not set
# CONFIG_USB_CONFIGFS_F_HID is not set
# CONFIG_USB_CONFIGFS_F_UVC is not set
# CONFIG_USB_CDC_COMPOSITE is not set

# for weston
CONFIG_VT=y
CONFIG_LEGACY_PTYS=y

# for UART BT
CONFIG_RTK_LSADC0=y
CONFIG_IIO_TRIGGERED_BUFFER=y
# CONFIG_RT_GROUP_SCHED is not set

# for ALSA sound card0 dummy
CONFIG_SND_DRIVERS=y
CONFIG_SND_DUMMY=y

# for SOF
CONFIG_SND_SOC_RTK_PLATFORM=n
CONFIG_SND_SOC_RTK_HIFI_RT5650_MACHINE=m
CONFIG_RTK_AVCPU_LOG=y
