#include "rtd1619b-bleedingedge-2gb.dts"

/ {
	model = "Centron Design CT1832";
};

&vo {
	compatible = "realtek,rtd-crtc-main";
};

&audio_out {
	/delete-property/audio-gpios;
};

&hdmi {
	hdmi5v-gpios = <&gpio 5 GPIO_ACTIVE_HIGH>;
};

&pcie1 {
	/delete-property/perst-gpios;
	status = "disabled";
};

&pcie2 {
	perst-gpios = <&gpio 47 GPIO_ACTIVE_HIGH>;
};

&sdio {
	/delete-property/wifi-rst-gpios;
	status = "disabled";
};

&rtk_asoc_machine {
	/delete-property/pinctrl-0;
	realtek,dai-link = "RDAI_DL1_FE", "RDAI_UL1_FE", "RDAI_SOC_AO0", "RDAI_SOC_I2S";
};

&usb_port0 {
	realtek,power-gpio = <&gpio 68 GPIO_ACTIVE_HIGH>;
};

&usb_port1 {
	/delete-property/realtek,power-gpio;
};

&usb_port2 {
	realtek,power-gpio = <&gpio 69 GPIO_ACTIVE_HIGH>;
	dwc3@50000 {
		role-switch-default-mode = "host"; /* host, peripheral*/
	};
};

/delete-node/ &type_c;
