#include "rtd1619b-backinblack-2gb.dts"

/ {
	model = "Centron Design CT1832";
};

&audio_out {
	/delete-property/audio-gpios;
	status = "disabled";
};

&hdmi {
	hdmi5v-gpios = <&gpio 5 GPIO_ACTIVE_HIGH>;
};

&pcie1 {
	/delete-property/perst-gpios;
	status = "disabled";
};

&pcie2 {
	perst-gpios = <&gpio 47 GPIO_ACTIVE_HIGH>;
};

&sdio {
	/delete-property/wifi-rst-gpios;
	status = "disabled";
};

&usb_port0 {
	realtek,power-gpio = <&gpio 68 GPIO_ACTIVE_HIGH>;
};

&usb_port1 {
	/delete-property/realtek,power-gpio;
};

&usb_port2 {
	realtek,power-gpio = <&gpio 69 GPIO_ACTIVE_HIGH>;
};
